@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root{
    --font: "Hind Siliguri", sans-serif;
}
/* common card */
.card{
    background: #11152c;
    border: 1px solid #26204c;
    cursor: pointer;
    transition:  0.3s;
    &:hover{
        box-shadow: 0  0 16px #201f41;
        /* transform: translateY(-5px) !important; */
    }
}
/* common heading */
.p_60{
    padding: 50px 0;
}
.common_heading{
    text-align: center;
    padding: 0;
    margin: 0;
    h3{
        color: #5e72e4 ;
        font-family: var(--font);
        font-size: 30px;
        margin-bottom: 8px;
        font-weight: 700;
    }
    h5{
        color: #677483;
        font-family: var(--font);
        font-size: 14px;
        margin-bottom:16px;
        line-height: 1.5;
        font-weight: 400;


    }
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
body {
  background: #0d1224;
  font-family: "Hind Siliguri", sans-serif;
}
nav {
  position: fixed !important;
  top: -1px;
  left: 0;
  right: 0;
}
.nav-item .active {
  color: #5b6ddb !important;
}
.nav-link {
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  margin-left: 0.5rem;
  padding: 8px 16px;
  &:hover {
    color: #fff;
  }
}
.custom-toggler {
  color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.03);
}
.navbar-toggler-custom-icon {
  padding: 5px;
  color: #6c757daf;
  font-size: 20px;
}
@media (max-width: 990px) {
  nav.navbar {
    background: #0d1224 !important;
  }
  nav .nav-logo-img{
    width: 100px;
  }
}
/* hero section */
.hero {
  background: url(../assests/hero-gradiant.webp);
  background-size: cover;
  padding-top: 80px;
  
}
.hero .row h1{
     font-family: var(--font);
     font-size: 1.8em;
     line-height: 1.5;
     font-weight: 400;
     i{
        color: #344767;
        
     }
}

.hero .row .col-12:first-child a{
     font-size: 14px !important;
    padding: 10px 24px;
    transition: 0.3s;
    &:hover{
    transform: translateY(-1px);
    border-color: #4466a0 !important;
    }
}


.card-section .card{
    align-items: start;
    h3{
        font-size: 30px;
    }
}

.card-section   .card-img{
    width: 50px;
    background: #0d1224;
    margin: 14px 0;
    border-radius: 8px;
}

.skill_section 
.card{
    min-height: 370px;
    height: 370px;
    max-height: 370px;

 .card-body{
    h3{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
}
}
.code_editor_section {
    p{
        font-size: 16px;
        line-height: 1.6;
        

    }
}

/* carousel part */
.test_carousel{
    margin-top: 20px;
    .card{
        margin: 20px 15px;
        height: 450px;
        max-height: 450px;
    }
    .card-body{
        h4{
            font-size: 20px;
        }
        h6{
            font-size: 12px;
            color: #B0B4BC;
        }
        p{
            margin: 8px 0;
            font-size: 14px;
            color: #677483;
            line-height: 1.6;
        }
    }
}
.owl-carousel .active.center {
  transform: scale(1.07); 
  opacity: 1;
  border: 0;
  z-index: 5;
}
.owl-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.owl-btn {
  background: #0d1224;
  color: #fff;
  border: 1px solid #4466a072;
  padding: 8px 30px;
  margin: 0 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.owl-btn:hover {
  border-color: #364e7972;
  transform: translateY(-2px);
}

/* nav center align */
.owl-theme .owl-nav {
  text-align: center;
  margin-top: 15px;
}

.owl-theme .owl-nav [class*='owl-'] {
  background: none;
  padding: 0;
}
.form_section .form-control{
    background: #11152c;
    border: 1px solid #344767;
    color: #677483;
    &::placeholder{
        color: #677483;
        
    }
    &:focus{
        box-shadow: none;       
        
    }
}
.form_section form{
    h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    #form-submit{
        background: #7964e4;
        transition: 0.3s;
        &:hover{
            transform: translateY(-2px);
        }
    }
}
.form_section .card{
    min-width: 220px;
    
    align-items: start;
    h3{
        font-size: 30px;
    }
}

.form_section   .card-img{
    width: 50px;
    background: #0d1224;
    margin: 14px 0;
    border-radius: 8px;
}
footer .card{
    border-color: transparent;
    border-top:1px solid #201f41 ;
    

}
footer p{
    font-size: 12px;
    color: #5e72e4;
}
footer a{
    font-size: 12px;
    color: #e9ecef;
    padding: 0;
    
}